<%- include('../static/head.ejs', { bot,user})  %>
<div id="content" class="main-content">
    <br><br><br><br><br><br>
    <div class="container">

<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-6 col-12 layout-spacing">
        <p>Ban</p>
        <form action="/admin/userban" method="POST">
        <div class="form-row mb-4">
            <div class="form-group col-md-4">
                <label for="inputEmail4">User ID<span style="color:red">*</span></label>
                <input type="text" class="form-control" id="userID" name="userID" placeholder="" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Reason<span style="color:red">*</span></label>
                <input type="text" class="form-control" id="reason11" name="reason" placeholder="" required>
            </div>  
        </div>
    </form>
    <button onclick="banusr()" name="ban" class="btn btn-primary mt-3"><i class="fa fa-ban"></i> Ban</button>
    </div>
</div>

<div class="row layout-top-spacing" id="cancel-row">
                
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <table id="zero-config" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Reason</th>
                        <th>Authorized</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                <% bandata.map(a => { %>
                    <tr>
                        <td><%= a.user %></td>
                        <td><%= a.sebep %></td>
                        <td><%= a.yetkili %></td>
                        <td class="text-center">
                            <button onclick="unbangg('<%= a.user %>')" class="btn btn-danger btn-sm">Unban</button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>User</th>
                        <th>Reason</th>
                        <th>Authorized</th>
                        <th>Action</th>
                </tfoot>
            </table>
        </div>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
    function unbangg(usr){
      let data = {
        userID: usr,
      }
      fetch('<%= config.dashboard.url %>/admin/userunban', {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(data)
                }).then(res => res.json()).then(body => {
                    if (body.alert) {
                        Swal.fire(body.alert.title, body.alert.message, body.alert.type).then(e => {
                            if (body.success === true) location.reload();
                        });
                    };
                });
    }
    function banusr(){
      let res = document.getElementById("userID").value;
      let gg = document.getElementById("reason11").value;
      if(!res && !gg){
          return Swal.fire("Oops!", "Some Fields Are Missing!", "error")
      }
      let data = {
        userID: res,
        reason: gg
      }
      fetch('<%= config.dashboard.url %>/admin/userban', {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(data)
                }).then(res => res.json()).then(body => {
                    if (body.alert) {
                        Swal.fire(body.alert.title, body.alert.message, body.alert.type).then(e => {
                            if (body.success === true) location.reload();
                        });
                    };
                });
    }
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Succesfull...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = '/admin/userban';
  }
})
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = '/admin/userban';
  }    
})
    }
   </script>
        <%- include('../static/foot.ejs') %>
    </div>